<html>
    <head>
        <title>Jobify</title>
        <link href="<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="estilo.css" rel="stylesheet">
    </head>

    <body>

        <%- include('header') %>
            <h2 class="style-title">Fullstack Developer (Remote)</h2>   
        <%- include('footer') %>



 